.nav-col {
  display: flex;
  justify-content: space-evenly;
}

.nav-item {
  z-index: 10;
  border-radius: 0.75rem;
  margin: 0.5rem;
  padding: 0.15rem 0.6rem;
  transition-duration: 250ms;
  transition-delay: 0ms;
}

.nav-item:hover {
  transform: scale(100.5%);
  box-shadow: 5px 5px 10px #161616, -5px -5px 10px #343434;
}

.navbar {
  justify-content: space-between;
  display: flex;
  z-index: 9;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  align-items: center;
  height: 4rem;
  color: #ddd;
  background: #252525;
  box-shadow: 0 0 0.75rem 1rem #252525;
}

.mid-a {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 2rem;
  box-shadow: none;
  transition-duration: 500ms;
}

.mid-a:hover {
  color: #cc241d;
}
