.signup {
  height: auto;
}

.signup input {
  border-radius: 0.5rem;
  width: 80%;
  margin: 0.2rem ;
  transition-duration: 300ms;
}

.signup input[type=submit] {
  width: 50%;
}


.signup input:focus() {
  border: solid 1px #fbf1c7;
}

.signup h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.container {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
